src/main/mule/bpel-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="bpel-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="bpel-system-api-config" api="bpel-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="bpel-system-api-main">
        <http:listener config-ref="bpel-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bpel-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bpel-system-api-console">
        <http:listener config-ref="bpel-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bpel-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\EmsInsertAgent:application\json:bpel-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  insertEmsMessageResponse: {
    emsMessageId: "string",
    error: "string"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\NDPRxTransferGroupAndNumber:application\json:bpel-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  NDPRxTransferGroupAndNumber: {
    out_msg: "string",
    out_rx_number: "string",
    out_new_group_id: "number"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\faxSearchService:application\json:bpel-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  faxSearchServiceRes: {
    out_new_group_id: "1235"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\getNDPRXTransferImagesFromFaxDB:application\json:bpel-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  NDPRXTransferGetImagesFromFaxDB: {
    out_image: "string",
    out_image_name: "string",
    out_msg: "string"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\pharmacysearch:application\json:bpel-system-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="601ce591-7d43-4bea-a8cc-30a4e8a42959" message="Pharmacy search flow :::::::#[payload]"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  PharmacySearchResponse: {
    pharmacy: {
      REF_PHMCY_PRVDR_TID: "2811078",
      START_DT: "2010-10-01 00:00:00.0",
      END_DT: "9999-12-31 00:00:00.0",
      NCPDP_ID: "5901942",
      NPI_ID: "1336375591",
      DEA_NBR_ID: "FA1420164",
      FED_TAX_ID: "412057502",
      STATE_LCNS_ID: "26472",
      NAME: "APPLE DRUGS PLLC",
      DBA_NAME: "APPLE DRUGS",
      STORE_NBR_TXT: "102",
      STRT_ADDR_1: "1900 OATES DR",
      STRT_ADDR_2: "STE 138",
      CITY: "MESQUITE",
      SRCH_CITY: "MESQUITE",
      ST_CD: "125",
      ZIP_CODE: "75150",
      PHN_TXT: "9722700041",
      FAX_TXT: "9722700036",
      EMAIL_TXT: "ANDREWANUGWOM@YAHOO.COM",
      LOC_DESCR: "635 WEST FREEWAY",
      LOC_CNTY_FIPS: "48113",
      LOC_MSA: "1922",
      LOC_PMSA: "1920",
      OPN_24_HRS_BLN: "F",
      HRS_DESCR: "11016209203092040920509206092070917",
      ACPT_E_RX_BLN: "T",
      DLVRY_SVC_BLN: "T",
      DME_BLN: "T",
      CNGRSNL_DSTRCT_TXT: "05",
      LANG_1_CD: "3254",
      LANG_2_CD: "3174",
      MAIL_STRT_ADDR_1: "1900 OATES DR",
      MAIL_STRT_ADDR_2: "STE 138",
      MAIL_CITY: "MESQUITE",
      MAIL_SRCH_CITY: "MESQUITE",
      MAIL_ST_CD: "125",
      MAIL_ZIP_CODE: "75150",
      CNTCT_FIRST_NAME: "ANDREW",
      CNTCT_LAST_NAME: "ANUGWOM",
      CNTCT_MIDDLE_NAME: "O",
      CNTCT_TITLE: "PRESIDENT",
      CNTCT_PHN_TXT: "2149910608",
      CNTCT_EMAIL_TXT: "ANDREWANUGWOM@YAHOO.COM",
      DSPNSR_CLS_CD: "3106",
      PRI_DSPNSR_TYP_CD: "3115",
      SEC_DSPNSR_TYP_CD: "3124",
      VER_NBR: "0",
      CREATE_DT: "2011-01-18 14:34:17.0",
      CREATE_USER: "SPSOPS",
      CREATE_SYS_CD: "3105",
      LAST_UPDT_DT: "2015-03-12 19:27:46.0",
      LAST_UPDT_USER: "spsops",
      LAST_UPDT_SYS_CD: "2581",
      DEA_EXPIR_DATE: "9999-12-31 00:00:00.0",
      REINSTMT_DATE: "9999-12-31 00:00:00.0",
      STATE: "TX"
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d965f690-7aba-4c69-a41b-e029624d5743" message="completed the flow"/>
    </flow>
    <flow name="post:\prsSearchPrescriber:application\json:bpel-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  PRSSearchPrescriberResponse: {
    prescriber: [
      {
        id: "2311",
        firstName: "sisco",
        middleName: "lsd",
        lastName: "string",
        suffix: "string",
        retired: "false",
        validationStatus: "string",
        amaOptOut: "Y",
        amaStartDate: "2016-11-07",
        addressList: [
          {
            id: "string",
            addressLine1: "string",
            addressLine2: "string",
            city: "string",
            state: "string",
            zipCode: "string",
            addressType: "string",
            validationStatus: "string"
          }, 
          {
            id: "string",
            addressLine1: "string",
            addressLine2: "string",
            city: "string",
            state: "string",
            zipCode: "string",
            addressType: "string",
            validationStatus: "string"
          }
        ],
        commList: [
          {
            id: "string",
            commType: "string",
            commValue: "string",
            validationStatus: "string"
          }, 
          {
            id: "string",
            commType: "string",
            commValue: "string",
            validationStatus: "string"
          }
        ],
        identifierList: [
          {
            id: "string",
            identifierType: "string",
            identifierValue: "string",
            state: "string",
            expirationDate: "2016-08-29",
            classQualifier: "string",
            pdmaEligibility: "string",
            validationStatus: "string"
          }, 
          {
            id: "string",
            identifierType: "string",
            identifierValue: "string",
            state: "string",
            expirationDate: "2016-08-29",
            classQualifier: "string",
            pdmaEligibility: "string",
            validationStatus: "string"
          }
        ]
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
